.filter__wrapper {
  position: fixed;
  top: 0;
  left: 105px;
  right: 104px;
  padding: 20px 0;
  z-index: 2;
  background: #34373c;
}

.logo {
  float: left;
  background: url(../img/ImgurLogo.svg) center center no-repeat;
  width: 87px;
  height: 34px;
  margin-left: 50px;
}

.filter {
  display: flex;
  flex-flow: row nowrap;
  color: #fff;
  margin-left: 100px;
}

.filter__section:not(:last-child) {
  margin-right: 50px;
}

.filter__section label {
  margin-right: 10px;
}
